@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body,
#storybook-root {
  font-family: 'Inter', sans-serif;
}

.sb-show-main.sb-main-centered #storybook-root {
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
}
